@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

@font-face {
  font-family: "Merriweather";
  src: url(./assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

* {
  font-family: "Merriweather", sans-serif;
}

.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}

.custom-animation {
  transition: transform 0.3s ease;
}

.custom-animation:hover {
  transform: scale(1.05);
}
